ul.pagination li {
    display: inline;
    font-size: 17px;
    font-weight: bold;
}

ul.pagination li a,
ul.pagination li span {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px;
    color: #7DA0AD;
    border-radius: 3px;
}

ul.pagination li.active span {
    background-color: #1076AC;
    color: #fff;
}

ul.pagination li a:hover {
    background-color: #1076AC;
    color: #fff;
}

ul.pagination li.disabled span {
    color: #ddd;
    padding: 8px 8px;
    border: 1px solid #ddd;
    margin: 4px;
}